build/
Raytrace.kdev4
.kdev4/
kbuild/
cbuild/
docs/
obj/
/.vs
raytrace
modeltoworld
outputtest/*
model_compare
clbuild/
raytracer
raytracer2
utils/raytrace
utils/out/*
*.ppm
*.tar
*.tar.gz
*.tar.lzma
raytracer.dSYM/
